
.container_fundo{
    background: transparent linear-gradient(180deg, #0094D2 0%, #004A69 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    height: 657px;

    /* background-image: linear-gradient(to bottom right, red, yellow); */
} 
.alinhamento_central{
    justify-content: center;
    margin-top: 8%;
   
}
.tamanho{
    height: 250px;
}
.menu_left{
     height: 655px;
}